{% extends "events/base.html" %}
{% block title %}Category List{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto my-10 p-6 bg-pink-100 rounded-xl shadow-lg">
    <h1 class="text-3xl font-bold text-center text-pink-700 mb-6">All Categories</h1>

    {% if categories %}
        <table class="min-w-full bg-white rounded-lg shadow-md">
            <thead>
                <tr class="bg-pink-200 text-pink-800">
                    <th class="py-3 px-4 text-left">#</th>
                    <th class="py-3 px-4 text-left">Category Name</th>
                    <th class="py-3 px-4 text-left">Description</th>
                     <th class="py-3 px-4 text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr class="border-b hover:bg-pink-50 transition">
                    <td class="py-3 px-4">{{ forloop.counter }}</td>
                    <td class="py-3 px-4">
                        <a href="{% url 'events_by_category' category.id %}" 
                           class="text-pink-600 hover:underline font-semibold">
                           {{ category.name }}
                        </a>
                    </td>
                    <td class="py-3 px-4">{{ category.description }}</td>
                     <td class="py-3 px-4 flex justify-center gap-3">
                     <a href="{% url 'update_category' category.id %}" 
                           class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg shadow text-sm">
                            Edit
                        </a>
                         <a href="{% url 'delete_category' category.id %}" 
                           class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-lg shadow text-sm">
                            Delete
                        </a>
                        </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center text-gray-600 mt-4">No categories found.</p>
    {% endif %}
</div>
{% endblock %}
